<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h1 class="mb-4 mx-2">Access denied !</h1>
        <h2 class="mb-4 mx-2">this page is publicly unavailable</h2>
        <a href="" routerLink="/dashboard" class="btn btn-primary">Back to dashboard</a>
        <div class="mt-4">
            <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template-free/assets/img/illustrations/page-misc-error-light.png" alt="girl-doing-yoga-light" width="500" class="img-fluid" data-app-dark-img="illustrations/girl-doing-yoga-dark.png" data-app-light-img="illustrations/girl-doing-yoga-light.png" />
        </div>
    </div>
</div>